@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

.about{
    font-family: cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 22vh;
    width: 55vw;
    margin-left: 4vw;
}
.feather{
    height: 86vh;
    margin-top: 8vh;
    border-radius: 2vh;
    width: 35vw;
    margin-left: 2vh;

}
.us-about{
    display: flex;
}