.content{
    height: 82.5vh;
    width: 100vw;
    border: 0.2vh solid black;
    margin-top: 5vh;
    border-radius: 2vh;
}
.calendar{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calen{
    border: 1px solid #000;
}

.title{
    height: 5vh;
    width: 17vw;
    border: 0.2vh solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save{
    height: 5vh;
    width: 5vw;
    border: 0.5vh solid darkgreen;
    background-color: green;
    border-radius: 1vh;
}