.content{
    width: 100vw;
    margin-top: 9vh;
}

.calendar{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 100vw;
    align-items: center;
    overflow-x: hidden;
}
/* 
.Calen{

} */

.text-entry{
    margin-bottom: 4vh;
}
.p-datepicker-group{
    background-color: white;
    border: 1px solid black;
    width: 22vw;
    padding: 5px;
}

.quill{
    height: 80vh;
}

.title {
    height: 4vh;
    width: 25vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10vw;
    background-color: transparent !important;

}

.save{
    height: 5vh;
    width: 5vw;
    border: 0.5vh solid darkgreen;
    color: white;
    background-color: rgb(2, 146, 2);
    border-radius: 1vh;
}

.nav-entry {
    width: 100vw !important;
}

  .alert {
    color: red;
    background-color: rgb(231, 231, 5);
    font-size: 15px;
    width: 14vw;
    text-align: center;
  }
  

