.content{
    height: 87vh;
    width: 100vw;
    border: 0.2vh solid black;
    /* border-radius: 2vh; */
}
.calendar{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calen .p-inputtext{
    /* border: 1px solid #000; */
    background-color: transparent !important;
}

.title {
    height: 4vh;
    width: 17vw;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10vw;
    background-color: transparent !important;

}

.save{
    height: 5vh;
    width: 5vw;
    border: 0.5vh solid darkgreen;
    color: white;
    background-color: rgb(2, 146, 2);
    border-radius: 1vh;
}

/* .text-area{
    height: 55vh;
} */