.button-container {
  left: 50%;
  display: flex;
  justify-content: center;
}

.Navbar{
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin: 20px;
}

.left-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-nav{
  display: flex;
  align-items: center;
}

.right-nav h2{
  margin-right: 50px;
}

.right-nav button{
  height: 40px;
  padding: 0 20px;
  border-radius: 15px;
  background-color: orange;
}