.login-page{
  display: flex;
}
.login-left{
  /* border: 1px solid rgb(2, 2, 70); */
  margin-top: 2vh;
  border-radius: 2vh;
  height: 96vh;
  width: 45vw;
  margin-right: 2vh;
  /* background-color: rgb(2, 2, 70); */
}
.boy1{
  height: 96vh;
  width: 40vw;
  border-radius: 5vh;
  margin-left: 2vw;
}
.boy-text{
  color: white;
  font-size: 4vh;
  margin: 5vw;
}
.butter{
  margin-left: 23vw;
}
.login-form{
  margin-top:10vh ;
  margin-left: 13vw;
  text-align: center;
}
.sign-in{
  font-size: 5vh;
  margin-bottom: 4vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hyper2{
  font-weight: 600;
  color: blue;
}
.acc{
  font-weight:500;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.login-email{
  border: 1px solid ;
  border-radius: 1vh;
  height: 6vh;
  width: 25vw;
  margin-top: 5vh;
  padding: 5px;
}
.login-password{
  border: 1px solid ;
  border-radius: 1vh;
  height: 6vh;
  width: 25vw;
  margin-top: 5vh;
  padding: 5px;
}
.forgot{
  margin-left: 15vw;
}
.login{
  border: 1px solid green;
  border-radius: 4px;
  height: 6vh;
  width: 10vw;
  background-color: green;
  margin-top: 5vh;
  color: white;
}