.main-content {
  padding-top: 15vh; 
  /* padding-left: vw; */
  /* background-color:antiquewhite; */
}

.plus{
    height: 50px;                
    width: 50px;
    border: 0.1vh solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    position:fixed;
    top: 90vh;
    left: 94.3vw;
    color: white;
    background-color: rgb(2, 2, 85);
}

.symbol{
    height: 5vh;
    width: 3vw;
    margin-left: 15vw;
}
.main-title{
    display: flex;
    justify-content: space-around;
    margin-left: 15vw;
    font-family:cursive;
    font-weight:600 ;
    font-size: 3vh;
}
.main-date{
    font-family:cursive;
    font-weight:600 ;
    font-size: 2.5vh;
}
.block{
    height: 14vh;
    width: 45vw;
    border: 5px solid ;
    border-radius: 2vh;
    margin-top: 2vh;
    margin-left: 2vw;
    /* background-color: skyblue; */
}


/* CSS */
.block {
  align-self: center;
  background-color: rgb(247, 227, 201);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.block:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.block:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}