nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 2vw;
    align-items: center;
    background-color: rgb(3, 68, 94);
    color: white;
    box-shadow: 0 10px 15px -3px rgba(70, 70, 70, 0.541)
}

.menu{
    width: 2.5vw;
    background-color: none;
}
.head{
    font-size: 2vw;
    font-family:cursive;
}

.profile{
    height: 6vh;                
    width: 3vw;
    border: 0.1vh solid white;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawer{
    height: 50vh;
    width: 5vw;
    border: 0.1vh solid black;
}

.close{
    height: 3vh;
    width: 2vw;
}
#dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile1{
    height: 35vh;
    margin-right: 88vw;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    text-align: center;

}

.logout-button {
    margin-top: 6vh;
    width: 8vw;
}

.editprofile-button{
    margin-top: 8vh;
    width: 8vw;
}

.close{
    margin-top: 1vh;
    margin-right: 4vw;
}