.signup-page{
  display: flex;
  background-color: #fff2e6 ;
}

.signup-right{
  /* border: 1px solid rgb(2, 2, 70); */
  border-radius: 2vh;
  height: 96vh;
  width: 45vw;
  margin-left: 13vw;
  margin-top: 2vh;
  /* background-color: rgb(2, 2, 70); */
}

.text-boy{
  color: white;
  font-size: 4vh;
  margin: 5vw;
  margin-left: 15vw;
}

.butter1{
  margin-left: 26vw;
}
.boy2{
  height: 96vh;
  width: 40vw;
  border-radius: 5vh;
  margin-left: 4vw;
}
.signup-form{
  margin-top:10vh ;
  margin-left: 16vw;
  text-align: center;
}
.sign-up{
  font-size: 5vh;
  margin-bottom: 4vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.acc1{
  font-weight: 500;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hyper1{
  color: blue;
  font-weight: 600;
}
.signup-email{
  border: 1px solid ;
  border-radius: 1vh;
  height: 6vh;
  width: 25vw;
  margin-top: 5vh;
  padding: 5px;
}
.signup-password{
  border: 1px solid ;
  border-radius: 1vh;
  height: 6vh;
  width: 25vw;
  margin-top: 5vh;
  padding: 5px;
}
.signup-name{
  border: 1px solid ;
  border-radius: 1vh;
  height: 6vh;
  width: 25vw;
  margin-top: 5vh;
  padding: 5px;
}
.register{
  border: 1px solid green;
  border-radius: 4px;
  height: 6vh;
  width: 10vw;
  background-color: green;
  margin-top: 5vh;
  color: white;
}