.signup-form {
  background-color: black;
  height: 100vh;
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form .form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 2vw;
  width: 30vw;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: rgb(3, 68, 94);
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.signup-form #heading {
  text-align: center;
  margin: 2em;
  /* color: white; */
  font-size: 1.2em;
}

.signup-form .field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 5vw;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
}

.signup-form .input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.signup-form .input-field {
  background: black !important;
  border: none;
  outline: none;
  width: 100%;
  color: white !important;
}

.signup-form .form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.signup-form .button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.signup-form .button1:hover {
  background-color: black;
  color: white;
}

.signup-form .button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.signup-form .button2:hover {
  background-color: black;
  color: white;
}

.signup-form .button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.signup-form .button3:hover {
  background-color: red;
  color: white;
}

.signup-form .account {
  color: white;
}

.account2{
  color: white;
}

.account2 a {
  color: white; 
}

.account2 a:hover {
  color: black; 
}

.signup{
  color: white;
}
