.content{
    height: 85vh;
    width: 100vw;
    overflow-x: hidden;
}
.calendar{
    height: 5vh;
    width: 98.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .Calen{
    border: 1px solid black;
} */
.p-datepicker-group{
    background-color: white;
    border: 1px solid black;
    width: 22vw;
    padding: 5px;
}
.quill{
    height: 80vh;
}

.title {
    height: 4vh;
    width: 25vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10vw;
    background-color: transparent !important;

}

.save{
    height: 5vh;
    width: 5vw;
    border: 0.5vh solid darkgreen;
    color: white;
    background-color: rgb(2, 146, 2);
    border-radius: 1vh;
}
.nav-entry {
    width: 100vw !important; 
  }

  /* Entry.css */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-close-button {
    background: rgb(148, 1, 1);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.modal-image {
    max-width: 100%;
    height: auto;
}
