.viewer{
    height: calc(100vh - 10vh);
    width: 100vw;
    margin-top: 10vh;
    overflow-y: auto;
    overflow: hidden;
}
.viewer-head{
    display: flex;
}
.viewer-title{
    margin-left: 40vw;
}
.viewer-update{
    margin-left: 88vw;
    color: black;
    border-radius: 5px;
    margin-top: 60vh;
    font-size: 8vh;
}
.viewer-delete{
    border-radius: 5px;
    font-size: 8vh;
    margin-top: 60vh;
    color: black;
}
.button-container {
    bottom: 1vh;
    right: 1vw;
    display: flex;
    gap: 1vw;
}

/* src/Modal.css */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.viewer-image{
    margin-left: 45vw;
}

.viewer-content{
    margin-top: 2vh;
}


