 .text-box {
  display: flex;
}
/* .menu{
  height: 1vh;
  width: 2vw;
} */

.text-box img {
  height: 4vw;
}
/* #main-div{
  display: flex;
} */
#bold{
  border: none;
  height: 6vh;
  width: 4vw;
  font-size:x-large;
  border-radius: 1vh;
}
#italic{
  border: none;
  height: 6vh;
  width: 4vw;
  font-size:x-large;
  border-radius: 1vh;
  font-family:cursive;
}
#new-note{
  border: none;
  height: 6vh;
  width: 4vw;
  border-radius: 1vh;
}
#number{
  height: 6vh;
  width: 4vw;
  border-radius: 1vh;
  background-color: rgb(248, 245, 245);
}
#bullet{
  height: 7vh;
  width: 4vw;
  border-radius: 1vh;
}

#divider{
  height: 7vh;
  width: 4vw;
}

#attach{
  border: none;
  height: 7vh;
  width: 5vw;
  font-size:x-large;
  border-radius: 1vh;
}

#publish{
  height: 8vh;
  width: 10vw;
  border: none;
  color: white;
  border-radius: 2vh;
  background-color:#555;
}
#publish:hover {
  background-color:grey; 
}

.navbar {
  border: 0.1vw solid black;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.icons {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
